

/* Código referente aos tres pontos "..."*/
.ponto1 {
    animation-delay: 1s;
    animation: hiden 1s cubic-bezier(.5, 0, 1, 1) infinite alternate;
}

.ponto2 {
    animation-delay: 2s;
    animation: hiden 1s cubic-bezier(.5, 0, 1, 1) infinite alternate;
}

.ponto3 {
    animation-delay: 3s;
    animation: hiden 1s cubic-bezier(.5, 0, 1, 1) infinite alternate;
}

@keyframes hiden {
    to {
        opacity: 0.3;
    }
}

/* ==================================================================*/

/* Código referente ao cubo Loadding*/
.positionLoadding {
    height: 300px;
    width: 300px;
    position: absolute;
    left: 47%;
    top: 50%;
    margin-left: -110px;
    margin-top: 50%;
}

.cube {
    padding-bottom: 20%;
    transform-style: preserve-3d;
    transform-Origin: 50% 100%;
    transform: rotateY(45deg) rotateX(0);
    border-radius: 20%;
    animation: is-rotating 2s infinite;
}

.cubeFace {
    position: absolute;
    left: 40%;
    top: 0;
    width: 20%;
    height: 100%;
    margin: 0 auto;
    transform-style: inherit;
    background: #fd7e14;
    box-shadow: inset 0 0 0 3px #1a202c;
    transform-Origin: 50% 50%;
    transform: rotateX(90deg);
    backface-visibility: hidden;
}

.face2 {
    transform-Origin: 50% 50%;
    transform: rotatez(90deg) translateX(100%) rotateY(90deg);
}

.cubeFace:before, .cubeFace:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    transform-Origin: 0 0;
    background: inherit;
    box-shadow: inherit;
    backface-visibility: inherit;
}

.cubeFace:before {
    top: 100%;
    left: 0;
    transform: rotateX(-90deg);
}

.cubeFace:after {
    top: 0;
    left: 100%;
    transform: rotateY(90deg);
}

@keyframes is-rotating {
    to {
        transform: rotateY(405deg) rotateX(360deg);
    }
    /* ==================================================================*/

}
